<template>
  <div class="about">
    <h1>This is an form page</h1>
  </div>
</template>
<script>
export default {
    name:'form',
    data() {
        return {
            fpx: '',
            cc: '',
            payment: '',
            mdrType : '%',
            isReadOnly : false,
        }
    },
}
</script>