<template>
  <div class="about">
    <h1>This is an list page</h1>
  </div>
</template>
<script>
export default {
    name:'list',
    data() {
        return {
            baseUrl : '',
        }
    },
    methods : {
      getData () {
          this.axios({
          url: this.baseUrl + '/api/detail',
          method: 'get',
          headers: {
            // 'access-id': this.$store.getters.getToken,
            // 'merchant-id': this.$store.getters.getMerchant
          },
        }).then((response) => {
         	console.log(response)
        }).catch((response) => {
         	console.log(response)
        });
      }
    },
    created () {
		this.baseUrl = process.env.VUE_APP_BASE_URL;
		this.getData();
    }
}
</script>